@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {*/
/*  @font-face {*/
/*    font-family: 'Black';*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*    src: url(/font/ProximaNova-Black.woff2) format('woff2');*/
/*  }*/
/*  @font-face {*/
/*    font-family: 'Regular';*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*    src: url(/font/ProximaNova-Regular.woff2) format('woff2');*/
/*  }*/
/*}*/

.clip-custom {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 85%);;
}

.clip-custom2 {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 92%);
}

.clip-custom3 {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

html {
  @apply scroll-smooth focus:scroll-auto;
}

body {
  @apply font-primary text-[18px] font-normal;
}

a {
  @apply text-[20px] hover:text-accent transition-all duration-300;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-primary font-extrabold;
}

.h1 {
  @apply text-[64px] lg:text-[84px] leading-none;
}

.h2 {
  @apply text-[45px] leading-tight;
}

.h4 {
  @apply text-[31px] leading-tight text-primary;
}

.h3 {
  @apply text-[20px];
}

.btn {
  @apply h-[75px] px-[30px] transition-all duration-300 text-white rounded-[18px] flex items-center gap-2;
}

.btn-primary {
  @apply bg-primary hover:bg-primary-hover;
}

.btn-accent {
  @apply bg-accent hover:bg-accent-hover;
}

.nav-is-open {
  @apply h-[230px] p-6;
}

.swiper-slide {
  border-radius: 1.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  @apply bg-primary;
}